{% extends 'base_site.html' %}

{% block content %}
    <h3>Список авторов в БД</h3>
    <h4>{{author.first_name}} {{author.last_name}}</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <p>
            <label>Измените имя</label><br>
            <input type="text" name="first_name" value="{{author.first_name}}">
        </p>
        <p>
            <label for=""> Измените фамилию</label><br>
            <input type="text" name="last_name" id="" value="{{author.last_name}}">
        </p>
        <p>
            <label for="">Измените дату рождения</label><br>
            <input type="date" name="date_of_birth" value="{{author.date_birth}}" required="">
        </p>
        <p>
            <label for="">Измените дату смерти</label><br>
            <input type="date" name="date_of_death" value="{{author.date_death}}" required="">
        </p>
        <input type="submit" name="" id="" value="Сохранить">
    </form>
{% endblock %}
